<div class="page-slot">
  <div class="header-slot">
    <div class="header" id="title">{{title}}</div>
    <div *ngIf="loggedin==false" class="header" id="login" (click)="toLogin()">Login</div>
    <div *ngIf="loggedin==true" class="header" id="login" (click)="logout()">Logout</div>
  </div>
  <div class="nav-slot">
    <div class="nav-list">
      <li [routerLink]="['/userhome']">Userhome</li>
      <li [routerLink]="['/about']">About</li>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>