/* div.page-slot {
    width: 90%;
    height: 90%;
    position: absolute;
    background-color: lightgray;
    border: 1px solid red;
} */
div.header {
    display: inline-block;
    border: 1px solid black;
    background-color: palegoldenrod;
    margin: 5px;
    padding: 3px;
}
div.header-slot {
    float: top;
    left: 0;
    right: 0;
    border: 1px solid black;
    background-color: lightblue;
}
div#login {
    float: right;
}
div.nav-slot {
    border: 1px solid black;
    background-color: lightblue;
    float: left;
    clear: both;
}
div.nav-list li {
    list-style-type: none;
    padding: 2px;
    margin: 2px;
    border: 1px solid black;
}

div.view-slot {
    display: inline-block;
    margin: 5px;
    border: 1px dashed black;
}