div.account-info {
    margin-top: 1.5%;
    margin-left: 1%;
    border: 1px solid black;
    padding: 3px;
    display: inline-block;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    background-color: rgb(174, 221, 207);
}
div.username, div.email, div.code-entry, div.score, div.player-code {
    margin: 1%;
}
div.player-code, div.username {
    display: inline-block;
}
div.player-code {
    float: right;
}
div.player-rankings, div.player-scores {
    /* float: right; */
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    padding: 1px;
    border: 1px solid black;
}
div.player-lists {
    margin-top: 1.5%;
}
table {
    margin-left: 1%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}
td, th {
    border: 1px solid grey;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #85c9b4;
}
div.err-msg {
    color: red;
    font-size-adjust: .45;
}