<div> 
  <div class="account-info">
    <div class="username">Username: {{playername}}</div>
    <div class="player-code">PointsCodeHere</div>
    <div class="email">Email: {{email}}</div>
    <form (ngSubmit)="evaluate(model.entry);" class="code-entry">Code Entry: 
      <input class="code-entry" name="entry" [(ngModel)]="model.entry" #entry="ngModel" 
      (keyup.enter)="evaluate(model.entry);" autofocus="autofocus" required>
      <button>Submit</button>
      <div *ngIf="errMsg" class="err-msg">{{errMsg}}</div>
    </form>
    <div class="score">Score: {{score}}</div>
    <div class="player-lists">
      <table class="player-rankings">Player Rankings<br />
        <tr>
          <th>Name</th>
          <th>Score</th>
        </tr>
        <tr *ngFor="let player of players">
          <th>{{player.playerName}}</th>
          <th>{{player.score}}</th>
        </tr>
      </table>
    </div>
  </div>
</div>